In [2]:
import random
import pandas
import numpy as np
from sklearn import metrics, cross_validation

import tensorflow as tf
from tensorflow.contrib import layers
from tensorflow.contrib import learn

In [4]:
random.seed(42)

data = pandas.read_csv('titanic_dataset.csv')
print(data.columns)
data[:5]

Index([u'survived', u'pclass', u'name', u'sex', u'age', u'sibsp', u'parch',
       u'ticket', u'fare'],
      dtype='object')

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500
2,0,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500
3,0,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500
4,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500

## Preprocess Data

In [81]:
def preprocess(data):
    train = data.drop(['survived', 'name', 'ticket'], axis=1).values
   
    for i in range(len(train)):
        train[i][1] = 1. if train[i][1] == 'female' else 0.
  
    return train

In [94]:

x_train  = preprocess(data)
y_train = data['survived']


classifier = learn.LinearClassifier(n_classes=2, 
                                    feature_columns=learn.infer_real_valued_columns_from_input(x_train), 
                                    optimizer=tf.train.GradientDescentOptimizer(learning_rate=0.05),
                                   model_dir='.')

classifier.fit(x_train, y_train, batch_size=128, steps=500)

#class, gender, age, sibling, parents, fare
Jack = [3,0.0, 19, 0, 0, 5.0000]
Rose = [1, 1.0, 17, 1, 2, 100.0000]

pred = classifier.predict(np.array([dicaprio, winslet]))
prob = classifier.predict_proba(np.array([Jack, Rose]))

answer = ['No', 'Yes']
print("Will Jack Survive? %s" % answer[pred[0]])
print("Will Rose Survive? %s" % answer[pred[1]])

print("\nJack's Surviving Chance: %f%%" % (prob[0][1]*100))
print("Rose's Surviving Chance: %f%%" % (prob[1][1]*100))

WARNING:tensorflow:Setting feature info to TensorSignature(dtype=tf.float32, shape=TensorShape([Dimension(None), Dimension(6)]), is_sparse=False)
WARNING:tensorflow:Setting targets info to TensorSignature(dtype=tf.int64, shape=TensorShape([Dimension(None)]), is_sparse=False)

Will Jack Survive? No
Will Rose Survive? Yes

Jack's Surviving Chance: 0.976549%
Rose's Surviving Chance: 100.000000%